body {
    color: whitesmoke;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    margin: 0;
    background-color: #2aa348;
    display: inline-block;
    background-size: 100% 100%;
}

hr {
    background: linear-gradient(#567aaf, white, #567aaf);
    height: 8px;
    margin-top: 0;
    border-color: black;
}

header {
    padding: 1.5em 0 0.15em;
    margin: 0;
    background: #2aa348 url(./assets/incognitoKitty.jpg) no-repeat 50% -230px;
}

header h1 {
    font-size: 4em;
    color: white;
    text-shadow: 5px 5px 0 black;
    margin: 0 0 0 1em;
}

header h2 {
    color: #d3e630;
    font-family: Cambria, Times, 'Times New Roman', serif;
    font-style: italic;
    text-shadow: 1px 2px 0 black;
    margin: 1em 0 2em 5em;
}

nav {
    font-size: 1em;
    text-shadow: 3px 3px 0 black;
    letter-spacing: 0.15em;
    padding: 0;
    margin: -0.5em 0 0.5em 10em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    color: #d3e630;
    display: inline-block;
    margin: 0;
}

nav ul li a, nav ul li a:visited {
    text-decoration: none;
    color: #d3e630;
    padding: 0.2em 0.8em;
}

nav ul li a:hover {
    color: #8ab38c;
    background-color: #0f4203;
    border-radius: 25%;
}

h1 {
    color: #d3e630;
    font-family: Cambria, Times, 'Times New Roman', serif;
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 3px 3px 0 black;
    margin: 0.5em;
}

ul {
    list-style: none;
}

ul li a, ul li a:visited {
    font-size: 1.8em;
    margin: .75em .75em .75em -0.5em;
    line-height: 2em;
    text-decoration: none;
    color: lightgray;
    text-shadow: 3px 3px 0 black;
}

ul li a:hover {
    color: #d3e630;
    background-color: #18440f;
    border-radius: 25%;
}

.friendsList {
    position: relative;
    background-color: rgba(105, 150, 223, 0.5);
    display: inline-block;
    vertical-align: middle;
    padding: 1em 2em;
    margin: 1em 1em 1em 2em;
    border-radius: 10% 0 0 10%;
    border-right: 10px lightgray solid;
    width: 25vw;
    height: 50vh;
    overflow: auto;
}

ul li.subItem a, ul li.subItem a:visited {
    margin: .5em;
}

.bio {
    font-family: Cambria, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    background-color: rgba(105, 150, 223, 0.5);
    position: relative;
    display: inline-block;
    padding: 1em 2em;
    vertical-align: middle;
    margin: 0;
    border-radius: 0 5% 5% 0;
    border-left: lightgray solid 10px;
    height: 460px;
    width: 40vw;
    height: 50vh;
    overflow: auto;
}

#bioPic {
    float: left;
    max-width: 25%;
    border-color: lightgray;
    border-style: solid;
    border-radius: 25%;
    margin: 1em 1em 2em .5em;
}

.supporter {
    font-family: Cambria, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    background-color: rgba(105, 150, 223, 0.5);
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 1.75em 0 0 1em;
    border-radius: 10% 10% 0 0;
    border-bottom: lightgray solid 10px;
    text-align: center;
    padding: 1em;
    width: 15vw;
    height: 18vh;
}

.btn {
    background-color: yellow;
    border-radius: 5%;
    display: inline-block;
    margin: 0.5em;
    text-transform: uppercase;
}

.btn:hover {
    background-color: orange;
}

.activity {
    font-family: Cambria, Times, 'Times New Roman', serif;
    font-size: 1em;
    background-color: rgba(105, 150, 223, 0.5);
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 2em 2em -21em;
    border-radius: 0 0 10% 10%;
    border-top: lightgray solid 10px;
    text-align: center;
    padding: 1em;
    width: 15vw;
    height: 20vh;
}

#activityPic {
    float: center;
    width: 70%;
    max-width: 40%;
    border-color: lightgray;
    border-style: solid;
    border-radius: 25%;
    margin: 0;
}

footer {
    background-color: rgba(116, 156, 219, 0.5);
    margin: -1em 0 -2em 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 0;
    font-size: 0.75em;
    letter-spacing: .2em;
    height: 8vh;
}

footer ul#footerStuff {
    margin: 0;
}

footer ul li {
    display: inline-block;
}